.header{
    width: 100%;
    height: 100%;
    background-image: url(./Nityanand\ Charan\ Das.avif);
    background-repeat: no-repeat;
    /* background-position:calc(10% - 20px) calc(30% - -100px); */
    background-size: cover;
    position: relative;
    
}